* {
    background: white;
    text-decoration: none;
}

.no-style {
    list-style-type: none;
}

.flex-container-row {
    display: flex;
    flex-direction: row
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.logo {
    margin-top: 100px;
    margin-bottom: 25px;
}

.filters {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    max-width: 1000px;
}

.results {
    margin: auto;
}

.matched-profile {
    border: #D3D3D3 solid 1px;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
    box-sizing: border-box;
    min-width: 500px;
}

.matched-profile:hover {
    border: #FF1448 solid 2px;
    cursor: pointer;
}

.text-box, .button {
    margin: 10px;
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    font-size: 14px;
}

.button {
    border-color: #FF1448;
}

.request-button {
    margin-bottom: 20px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #FF1448;
    border-radius: 2px;
    font-size: 14px;
}

.request-button:hover {
    background: #FF1448;
}

.request-done-button {
    margin-bottom: 20px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
    background: #32CD32;
    border: 1px solid #32CD32;
}

.request-button-large {
    margin-bottom: 20px;
    margin-left: 20px;
    width: 350px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #FF1448;
    border-radius: 2px;
    font-size: 14px;
}
.request-button-large:hover {
    background: #FF1448;
}

.request-done-button-large {
    margin-bottom: 20px;
    margin-left: 20px;
    width: 350px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
    background: #32CD32;
    border: 1px solid #32CD32;
}

.google-login {
    width: 350px;
    display: inline-block;
    background: rgb(209, 72, 54);
    color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
}

.img-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.field-set {
    max-width: 320px;
}


.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.profile-flex {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #878787;
    align-items: center;
    border-width: .5px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.profile-header {
    font-weight: bold;
    font-size: 25px;
}

.profile-details {
    color: #878787;
}

